include requirements.txt
include samples/demo.py
include samples/preprocess.py
include samples/demo.sh
include samples/resnet18.json
include samples/mobilenet_v3_small.json
include samples/inception_v1.json
