numpy>=2.0.0
protobuf
torch>=2.0.0
torchvision
tqdm
pandas
opencv-python
onnx>=1.21.0,<1.22.0
tabulate
onnxruntime>=1.24.0,<=1.24.3
onnx-graphsurgeon>=0.6.1
onnxconverter_common>=1.16.0
loguru
onnxslim==0.1.87
