numpy
protobuf
torch>=1.6.0
torchvision
tqdm
pandas
opencv-python
onnx>=1.16.0
tabulate
onnxruntime>=1.18.0
nvidia-pyindex
onnx-graphsurgeon
onnxconverter_common>=1.14.0
loguru
sympy>=1.12.0
onnxslim
